.main > div {
    padding-top: 0.5rem;
}

.dropdown {
    background-color: #2C4C7B;
    padding: 16px 64px 16px 16px;
  }

.dropbtn {
    background-color: #2C4C7B;
    border: none;
    cursor: pointer;
}



.dropdown-content {
    text-decoration-line: none;
}
.dropdown-content:link {
    color: white;
}

.dropdown-content:visited {
    color: white;
}

.stButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.stButton > button {
    background-color: #BF9849;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 200px;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.stButton > button:hover {
    background-color: #2C4C7B;
    color: white;
}

.stButton > button:active {
    background-color: #2C4C7B;
    color: rgb(0, 0, 0);
}

div[data-baseweb="select"] > div:focus-within{
    border-color: #BF9849;
}

div.stSlider > div[data-baseweb="slider"] > div > div > div[role="slider"]{
    background-color: #2C4C7B;
}
div.stSlider > div[data-baseweb="slider"] > div > div > div[role="slider"]:focus-visible{
    box-shadow: #bf9849 0px 0px 0px 0.2rem;
}

div.stSlider > div[data-baseweb="slider"] > div > div > div > div {
    color: #2C4C7B;
    font-weight: bold;
}

div.stSlider > div[data-baseweb = "slider"] > div[data-testid="stTickBar"] > div {
    background: white; }

div.stSlider > div[data-baseweb = "slider"] > div > div {
    background: #BF9849 }


img {
    /* vertical-align: middle; */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
}



.uploadedFile {display: none}
footer {visibility: hidden;}