.main > div {
    padding-top: 0.5rem;
}

.stButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.stButton > button {
    background-color: #BF9849;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 200px;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.stButton > button:hover {
    background-color: #2C4C7B;
    color: white;
}

.stButton > button:active {
    background-color: #2C4C7B;
    color: rgb(0, 0, 0);
}

div[data-baseweb="select"] > div:focus-within{
    border-color: #BF9849;
}

div.streamlit-expanderHeader{
    color: white;
    background-color: #2C4C7B;
    border-color: #BF9849;
    border-radius: 5px;
}
div.streamlit-expanderHeader:hover svg{
    color: white;
    background-color: #2C4C7B;
    border-color: #BF9849;
    border-radius: 5px;
    fill:#BF9849;
}

div.streamlit-expanderContent{
    background-color: white;
    border-radius: 5px;
    border-color: #BF9849;
}

[data-testid="stHeader"] {
    background:rgba(0,0,0,0);
    }

div.streamlit-expanderHeader:hover {
    color: white;
    background-color: #BF9849;
    border-color: #BF9849;
    border-radius: 5px;
}


div.stSlider > div[data-baseweb="slider"] > div > div > div[role="slider"]{
    background-color: #2C4C7B;
}
div.stSlider > div[data-baseweb="slider"] > div > div > div[role="slider"]:focus-visible{
    box-shadow: #bf9849 0px 0px 0px 0.2rem;
}

div.stSlider > div[data-baseweb="slider"] > div > div > div > div {
    color: #2C4C7B;
    font-weight: bold;
}

div.stSlider > div[data-baseweb = "slider"] > div[data-testid="stTickBar"] > div {
    background: white; }

div.stSlider > div[data-baseweb = "slider"] > div > div {
    background: #BF9849 }


.c1 img {
    /* vertical-align: middle; */
    justify-content: center;
    margin-left: 70px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.uploadedFile {display: none}
footer {visibility: hidden;}