.stButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.stButton > button {
    background-color: #BF9849;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 200px;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.stButton > button:hover {
    background-color: #2C4C7B;
    color: white;
}

.stButton > button:active {
    background-color: #2C4C7B;
    color: rgb(0, 0, 0);
}